.cardColor:hover {
    transition: 0.3s;
}

.gitColor {
    color: #1877F2;
}
.gitColor:hover {
    color: #fff;
    transition: 0.3s;
}


.facebookColor {
    color: #1877F2;
}
.facebookColor:hover {
    color: #fff;
    transition: 0.3s;
}

.TwitterColor {
    color: #1877F2;
}
.TwitterColor:hover {
    color: #fff;
    transition: 0.3s;
}

.LinkedinColor {
    color: #0A66C2;
}
.LinkedinColor:hover {
    color: #fff;
    transition: 0.3s;
}