.cardColor:hover {
    background-color: #6565ff;
    transition: 0.3s;
}

.gitColor {
    color: white;
}


.facebookColor {
    color: #1877F2;
}
.facebookColor:hover {
    color: white;
    transition: 0.3s;
}



.TwitterColor {
    color: #00ACEC;
}
.TwitterColor:hover {
    color: white;
    transition: 0.3s;
}

.LinkedinColor {
    color: #0A66C2;
}
.LinkedinColor:hover {
    color: white;
    transition: 0.3s;
}